<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>848114956188-2sbqdb55al6oppgcas4in2kkp25scg3j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.848114956188-2sbqdb55al6oppgcas4in2kkp25scg3j</string>
	<key>API_KEY</key>
	<string>AIzaSyD91cEd4FJwDswvTemDInknHj8fpMdexr8</string>
	<key>GCM_SENDER_ID</key>
	<string>848114956188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ernie.TryOutFirebase</string>
	<key>PROJECT_ID</key>
	<string>fir-crashcourse-e16f4</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-crashcourse-e16f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848114956188:ios:a55fcc0cbcc33a7a</string>
	<key>DATABASE_URL</key>
	<string>https://fir-crashcourse-e16f4.firebaseio.com</string>
</dict>
</plist>